h1 {
    text-align: center;
    color: #d66bf9;
}
.error-register {
    text-align: center;
    color: red;
}
table {
    color: #152fe2;
    margin: auto;
}
button {
    background-color: cornflowerblue;
    color: azure;
}
