h1{
    text-align: center;
    color: #c208fa;
}
.filter{
    margin: 10px;
}
.filter span{
    padding-left: 30px;
    color: #0a13e2;
}
.display td, .addTable{
   vertical-align: middle;
    text-align: center;
}

.addTable{
    border:1px solid #5b5b5b;
}
.addTable caption{
    color: #9c09fa;
}
